.s-row { float: left; width: auto; }
.m-row { float: left; width: auto; }

.l-unit{float:left;}
.l-unit-right{float:right;}
.l-1of1{width:100%;}
.l-1of2{width:50%;}
.l-1of3{width:33.33333%;}
.l-2of3{width:66.66666%;}
.l-1of4{width:25%;}
.l-3of4{width:75%;}
.l-1of5{width:20%;}
.l-2of5{width:40%;}
.l-3of5{width:60%;}
.l-4of5{width:80%;}
.l-1of6{width:16.66666%;}
.l-4of6{width:66.66666%;}
.l-5of6{width:83.33333%;}
.l-1of10{width:10%;}
.l-3of10{width:30%;}
.l-9of10{width: 90%}

.m-hidden,
.s-hidden {
  display: block;
}

.l-hidden {
  display: none;
}

.hidden {
  display: none;
}
