.s-row { float: left; width: auto; }
.m-row { float: left; width: auto; }

.l-unit{float:left;}
.l-unit-right{float:right;}

@for $denominator from 1 through 10 {
  @for $numerator from 1 through $denominator {
    .l-#{$numerator}of#{$denominator} {
      width: percentage($numerator / $denominator);
    }
  }
}

.m-hidden,
.s-hidden {
  display: block;
}

.l-hidden {
  display: none;
}

.hidden {
  display: none;
}
