body {
  font-size: $em;
}

h1{
  font-size: $em*3.428;
}

h2 {
  font-size: $em*1.714;
}

h3 {
  font-size: $em*1.286;
}

h4 {
  font-size: $em;
}

h5 {
  font-size: $em;
}

h6 {
  font-size: $em*0.857;
}

p {
  font-size: $em;
}

.small {
  font-size: $em*0.857;
}