$headline-font: "Montserrat", helvetica, arial, sans-serif;
$body-font: "Open Sans", helvetica, arial, sans-serif;
$bold-font: "Open Sans Bold", helvetica, arial, sans-serif;

$em: 18px;
$spacing: 10px;
$line-height: 1.6;
$border-radius-size: 2px;
$page-width: 940px;

/* form input fix related stuff */
$input-top-padding: 1.3*$spacing;
$input-side-padding: 1.5*$spacing;
