<div class="row dropdown-toggle {{name}}-dropdown-toggle">
  <div class="unit">
    <div id="{{name}}" class="dropdown-selected-option" data-option='{{selected_key}}'>
      {{selected_value}}
    </div>
  </div>
  <div class="unit-right caret"></div>
</div>

<ul class="dropdown-menu {{name}}-dropdown-menu l-hidden">
  {{#selectable_items}}
  <li class="menu-item" data-option={{key}}>{{value}}</li>
  {{/selectable_items}}
</ul>