<div class='inner-right menu-item-wrapper'>
  <div class='menu-name'>
    <a href='javascript:void(0);' class="small menu-trigger button">
      <span class="white-down-arrow">{{trigger_link_text}}</span>
    </a>
  </div>

  <div class='menu-items hidden'>
    <div class='menu-caret'></div>
    {{#items}}
    <div class='row menu-item'>
      <div class='inner half'>
        <a href="{{path}}">
          <h3 class="icon {{icon_class}}">
            {{link_text}}
          </h3>
        </a>
      </div>
    </div>
    {{/items}}
  </div>
</div>