<div class='menu-item-wrapper unit-right'>
    <div class='menu-name'>
      <a href='javascript:;' class="menu-trigger button">
        <h3 class="white-down-arrow">Create Action</h3>
      </a>
    </div>

    <div class='menu-items l-hidden'>
      <div class='menu-caret'></div>
      {{#items}}
      <div class='row menu-item'>
        <div class='inner half'>
          <a href="{{path}}">
            <h3 class="icon {{iconClass}}">
              {{linkText}}
            </h3>
          </a>
        </div>
      </div>
      {{/items}}
    </div>
</div>